# dependencies
**/node_modules/

# environment files
.env
**/.env
.env.example
**/.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
**/dist/

# OS
.DS_Store
Thumbs.db

# Ignore docs and how-to-run
docs/
how-to-run/
